<div class="w-full h-full overflow-hidden flex flex-col">
    <app-header />
    <div class="flex-grow bg-gray-50 overflow-y-auto">
        <ng-container *ngFor="let item of setUserInput">
            <app-user-response *ngIf="item.type === 'user'" [userMessage]="item.message"/>
            <app-chat-response *ngIf="item.type === 'chat'" [chatMessage]="chatResponse"/>
        </ng-container> 
        <app-modelcard *ngIf="setUserInput.length <= 0"/>
    </div>
    <app-messagebox (onMessage)="sendMessage($event)"/>
</div>