<div class="w-30 md:w-full h-full overflow-hidden flex flex-col">
    <app-header />
    <div class="flex-grow bg-gray-50 overflow-y-auto" #chatContainer>
        <ng-container *ngFor="let item of setUserInput">
            <app-user-response *ngIf="item.type === 'user'" [userMessage]="item.message"/>
            <app-chat-response *ngIf="item.type === 'chat'" [chatMessage]="item.message"/>
        </ng-container>
        <app-chat-response *ngIf="loading" [chatMessage]="chatResponse" [loading]="textStreaming"/>
        <app-modelcard *ngIf="setUserInput.length <= 0"/>
    </div>
    <app-messagebox (onMessage)="sendMessage($event)" [loading]="loading"/>
</div>