<div>
    <button
        class="bg-white p-1.5 font-mono rounded-md text-xs font-semibold ring-1 ring-gray-300 hover:bg-gray-50"
        nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="topRight" nzTrigger="click">
        API Keys
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div nz-menu class="mx-1.5 w-full rounded-md md:w-96">
            <div class="py-2 px-3">
                <h3 class="font-bold text-base md:text-lg">API Keys</h3>
                <p class="text-xs md:text-sm ">Your API keys are only stored in your browser and are used solely to
                    communicate directly to services.</p>
            </div>
            <div class="h-0.5 w-full bg-gray-200"></div>
            <div class="py-1 px-3 font-mono">
                <p class="text-xs md:text-sm font-mono font-base font-semibold my-1.5">{{provider}}_API_KEY</p>
                <!-- <input type="text" class="outline-none w-full border-2 border-gray-200 mt-2 rounded-md p-1.5"> -->
                <nz-input-group [nzSuffix]="suffixTemplate" class="rounded-md outline-none ring-gray-300 ring-1 border-none">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="API KEY"
                        [(ngModel)]="apiKey" (ngModelChange)="changeAPIKey($event)" class="font-mono text-sm outline-none"/>
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></span>
                </ng-template>
            </div>
        </div>
    </nz-dropdown-menu>
</div>