<div class="h-full w-full flex flex-col justify-center items-center">
    <div class="w-[40em] rounded-tl-md rounded-tr-md border-x-2 border-t-2 border-gray-200 bg-white p-2">
        <div class="flex items-center">
            <span class="inline-block mr-1.5">
                <img [src]="'../../../assets/brand-'+provider+'.svg'" alt="">
            </span>
            <span>
                <span class="font-medium text-gray-500">{{provider}} / </span>
                <span class="font-semibold text-gray-600">{{model}}</span>
            </span>
        </div>
        <div class="mt-2 text-gray-500">
            <p class="text-xs">{{description}}</p>
        </div>
    </div>
    <div class="w-[40em] bg-gray-100 rounded-bl-md rounded-br-md p-2 border-2 border-gray-200 flex justify-between">
        <div class="flex gap-2 text-xs font-medium text-gray-500">
            <a [href]="modelPage" target="_blank">
                <div class="flex items-center">
                        <p class="mr-0.5">Model Page</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                            <path d="M11 13l9 -9" />
                            <path d="M15 4h5v5" />
                        </svg>
                </div>
            </a>
            <a [href]="pricing" target="_blank">
                <div class="flex items-center">
                    <p class="mr-0.5">Pricing</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                        <path d="M11 13l9 -9" />
                        <path d="M15 4h5v5" />
                    </svg>
                </div>
            </a>
        </div>
        <div class="text-xs font-medium text-gray-500">
            <a [href]="docs" target="_blank">
                <div class="flex items-center">
                    <p class="mr-0.5">Docs</p>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                            <path d="M11 13l9 -9" />
                            <path d="M15 4h5v5" />
                        </svg>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>