<div>
    <button nz-button nz-dropdown [nzDropdownMenu]="menuOpt" nzTrigger="click" class="flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-settings">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
                d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
        </svg>
    </button>
    <nz-dropdown-menu #menuOpt="nzDropdownMenu" nzPlacement="bottomRight">
        <ul nz-menu class="p-1.5 rounded-md">
            <li class="w-60" *ngFor="let option of options[selectedProvider]">
                <div class="flex justify-between align-bottom">
                    <p class="p-2 font-medium">
                        {{option.value}}
                        <span class="inline-block" [nzTooltipTitle]="option.description" nzTooltipPlacement="right"
                            nz-button nz-tooltip>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 9h.01" />
                                <path d="M11 12h1v4h1" />
                                <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
                            </svg>
                        </span>
                    </p>
                    <!-- <p class="p-2 font-medium">
                        {{ option.variable}}
                    </p> -->
                    <nz-input-number [(ngModel)]="option.variable" [nzSize]="'small'" [nzMin]="option.min"
                    [nzMax]="option.max" [nzStep]="option.step" class="w-16 h-fit font-medium border-1 ring-0 hover:border-gray-200 input-number"/>
                </div>
                <nz-slider [(ngModel)]="option.variable" class="bg-black" [nzMax]="option.max" [nzMin]="option.min"
                    [nzStep]="option.step" />
            </li>
        </ul>
    </nz-dropdown-menu>
</div>