<div class="w-fit bg-white rounded-md">
    <nz-select class="w-60 ring-1 ring-gray-300 rounded-md" nzBorderless="true" [(ngModel)]="singleValue"
        [nzSize]="size" [nzCustomTemplate]="defaultTemplate" (ngModelChange)="changeModel()">
        <nz-option-group *ngFor="let option of listOfOption" [nzLabel]="option.provider">
            <nz-option [nzLabel]="option.label" [nzValue]="option.value" nzCustomContent>
                <img class="inline-flex items-center align-middle mr-1.5"
                    src='{{ "../../../assets/brand-" + option.provider + ".svg" }}' [alt]="option.label" />
                <span class="text-xs font-mono">{{ option.label }}</span>
            </nz-option>
        </nz-option-group>
    </nz-select>
    <ng-template #defaultTemplate let-selected>
        <img class="inline-flex items-center align-middle mr-1.5"
            src='{{ "../../../assets/brand-" + selected.groupLabel + ".svg" }}' [alt]="selected.nzLabel" />
        <span class="text-xs font-mono">{{ selected.groupLabel}} {{selected.nzLabel }}</span>
    </ng-template>
</div>