<div class="w-full bg-neutral-50 flex justify-center p-4 md:p-2 pb-3">
    <div class="w-[40em] flex gap-1 items-start">
        <div class="w-max h-max rounded-full p-1 border-2 border-gray-200 bg-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="currentColor"
                class="icon icon-tabler icons-tabler-filled icon-tabler-user">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" />
            </svg>
        </div>
        <p class="inline-block">{{userMessage}}</p>
    </div>
</div>